/*--Audrey Dubord-Arsenault, 2022 */

#div1 {
  height: 150px;
	width: 90%;
	padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 auto;
}
#mapdiv {
  height: 500px;
	width: 80%;
	padding: 10px;
  margin: 0 auto;
	background-color: rgb(255, 222, 242);
  border-style: solid;
	border-width: 1px;
  border-color: black;
}
